<link rel="stylesheet" href="/css/_footer.css">
<footer>
    <div class="container">
        <div>
            <div class="headText">Appedia</div>
            <div class="smallText">
                Join our SocialHub community and start connecting,
                sharing, and engaging with others. 
            </div>
        </div>
        <div>
            <ul class="ul-list">
                Explore
                <li><a href="">Priacy</a></li> 
                <li><a href="">Contact</a></li> 
                <li><a href="">About</a></li> 
                <li><a href="">Terms</a></li> 
            </ul>
        </div>
        <div>
            <ul class="ul-list">
                Help
                <li><a href="">Terms of services</a></li>
                <li><a href="">Careers</a></li>
                <li><a href="">community</a></li>
                <li><a href="">Blog</a></li>
            </ul>
        </div>
        <div>
            Contact Us
            <ul class="ul-list">
                <li><a href="">7017079596</a></li>
                <li><a href="">Give Feedback</a></li>
                <li><a href="">goden1029@gamil.com</a></li>
            </ul>
        </div>
        
    </div>
</footer>