<link rel="stylesheet" href="/css/_footer.css">
<footer>


    <div  class="footer">
        <div class="contact-form">
            <div class="">Contact Us</div> 
            <div class="">Copyright</div> 
        </div>
    </div>
</footer>