<header>
    <link rel="stylesheet" href="/css/_header.css">
<nav class="nav-bar">
    <div id="site-name" >APEDIA</div>
    <div class="canbe">
        <% if (locals.user) { %>
            <li><img src="<%= user.avatar %>"></li>
            <li><%= user.name %></li>
            <li><a href="/sign-out">Sign out</a></li>

       
        <% } else { %>
            <a href="/sign-in"> Sign In</a>
            <a href="/sign-up">Sign up</a>
            <% } %>
         
    </div>
</nav>
</header>