<html>
    <head>
        <title>
            Codeial
        </title>
        <link rel="stylesheet" href="css/home.css">
    </head>

    <body>
        <h1>Hey you are here !</h1>
    </body>
</html>