<link rel="stylesheet" href="/css/home.css">

<div class="container">
    <div id="my-form">
        <form method="POST" action="/create-user">
            <label for="name">Name</label>
            <input class="input-field" type="text" name="name" placeholder="Enter your name" >
            <label for="email">Email or username</label>
            <input class="input-field" type="email" name="email" placeholder="email" >
            <label for="password">Password</label>
            <input class="input-field" type="password" name="password" placeholder="password" >
            <label for="confirmPassword">Confrim Password</label>
            <input class="input-field" type="password" name="confirmPassword" placeholder="Confirm Password" >
            <div class="button-container" >
            <a class="form-buttons" href="/" >Already have a account ? </a>
            <button class="form-buttons" type="submit" >Sign up</button>
            </div>

        </form>

    </div>
    <div id="homepage-image" ><img src="/images/pkoko.png"></div>
</div>