<link rel="stylesheet" href="css/home.css">
<main class="main-class">
    <div class="container">
        <div id="my-form">
            <form method="POST" action="/user/create-session">
                <label for="email">Email or username</label>
                <input class="input-field" type="email" name="email" placeholder="email" >
                <label for="password">Password</label>
                <input class="input-field" type="password" name="password" placeholder="password" >
                <div class="button-container" >
                <button class="form-buttons" type="submit" >Login</button>
                <a class="form-buttons" href="/sign-up" >Sign up</a>
                </div>
            </form>
            <div class="button-container">
            <a class="form-buttons" href="/user/auth/google">Sign in 
                    Google
            </a>
            <a class="form-buttons" href="/forget-page">Forget Password</a>
            </div>
        </div>

    </div>
</main>