<link rel="stylesheet" href="/css/home.css">

<div class="container">
    <div id="my-form">
        <form method="POST" action="/user/create-user">
            <label for="name">Name</label>
            <input required class="input-field" type="text" name="name" placeholder="Enter your name" >
            <label for="email">Email or username</label>
            <input required class="input-field" t requiredype="email" name="email" placeholder="email" >
            <label for="password">Password</label>
            <input required class="input-field" type="password" name="password" placeholder="password" >
            <label for="confirmPassword">Confirm Password</label>
            <input required class="input-field" type="password" name="confirmPassword" placeholder="Confirm Password" >
            <div class="button-container" >
            <a class="form-buttons" href="/sign-in" >Already have a account ? </a>
            <button class="form-buttons" type="submit" >Sign up</button>
            </div>

        </form>
        <a href="/user/auth/google">Sign in 
            Google
        </a>
    </div>
    <div id="homepage-image" ><img src="/images/pkoko.png"></div>
</div>