<link rel="stylesheet" href="css/home.css">
<!-- <main class="main-class">
    <div class="container">
        <div id="my-form">
            <form method="POST" action="/user/create-session">
                <label for="email">Email or username</label>
                <input class="input-field" type="email" name="email" placeholder="email" >
                <label for="password">Password</label>
                <input class="input-field" type="password" name="password" placeholder="password" >
                <div class="button-container" >
                <button class="form-buttons" type="submit" >Login</button>
                <a class="form-buttons" href="/sign-up" >Sign up</a>
                </div>
            </form>
            <div class="button-container">
            <a class="form-buttons" href="/user/auth/google">Sign in 
                    Google
            </a>
            <a class="form-buttons" href="/forget-page">Forget Password</a>
            </div>
        </div>

    </div>
</main> -->

<div class="hero-section">
    <header class="header">
        <div class="container">
            Appedia
            <div class="header-links">
                <a href="/login">Login</a>
                <a href="/sign-up">Signup</a>
                <button class="whiteBtn">
                   <a href="/about">About Us</a>
                </button>
            </div>
        </div>
    </header>
    <div class="container1">
        <div>
            <div class="headText">Connect and Share with Appedia</div>
            <div class="smallText">
                Welcome to Appedia,
                the place where you can connect with friends,
                share your thoughts, and have meaningful conversations. 
            </div>
            <button class="whiteBtn">
                <a href="">Join Now</a>
            </button>
        
        </div>

    </div>
</div>

<div class="about">
    <div class="display-row">
        <div class="container">
            <div class="heading">User Profiles</div>
            <div class="content">Create unique Profiles, showcase
                your intrest and connect with like minded people.
            </div>

            <div class="btn-container">
                <button class="whiteBtn"><a href="">Learn More</a></button>
                <button class="blackBtn"> <a href="">Start Connecting</a> </button>
            </div>
        </div>
        <div class="img-container" >
            <img src="../images/profile.jpg" alt="">
        </div>
    </div>
    <div class="display-row">
        <div class="img-container" >
            <img src="../images/messages.jpg" alt="">
        </div>
        <div class="container">
            <div class="heading">Instant Messaging </div>
            <div class="content">Chat with friends, send private messages,
                 and stay connected wherever you are. 
            </div>
            <div class="btn-container">
                <button class="whiteBtn"><a href="">Start Chatting</a></button>
                <button class="blackBtn"> <a href="">Discover More</a> </button>
            </div>
        </div>
    </div>
</div>

<div class="container-intro">
    <div class="flex-col">
        <div class="headText">
            Join Appedia and experience the power of social connections today! 
        </div>
        <div><a href="">Join</a></div>
        <button class="whiteBtn"><a href="">Get Started</a></button>
    </div>
</div>