<link rel="stylesheet" href="css/home.css">

<div class="main-class2">
    <div class="container2">
        <div class="lower"></div>
        <div class="upper">
            <div class="form-heading">Login to Continue</div> 
            <form  method="POST" action="/user/create-session" id="form">
                <label for="email">Email or username</label>
                <input class="input-field" type="email" name="email" placeholder="email" >
                <label for="password">Password</label>
                <input class="input-field" type="password" name="password" placeholder="password" >
                <div class="button-container">
                    <div class="button-row">
                      <button type="submit">Login</button>
                      <a class="form-btns" href="/sign-up" >Sign up</a>
                    </div>
                </div>
                <div class="button-container">
                    <div class="button-row">
                        <a class="form-btns" href="/user/auth/google">Sign in Google</a>
                        <a class="form-btns" href="/forget-page">Forget Password</a>
                    </div>
                </div>            
            </form>
        </div>
    </div>
</div>
