.footer{
    width: 100%;
    margin-top: 0.7rem;
    background: rgba(103, 14, 14, 0.05);
}


.contact-form{
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media (max-width: 600px){
    .footer{
        font-size: small;
    }
}

