.footer{
    width: 100%;
    height: 3rem;
    background-image: linear-gradient(290deg, rgb(156, 156, 220) , rgb(196, 196, 198));
    margin-bottom: 0px;
}


.contact-form{
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}