.footer{
    width: 100%;
    height: 3rem;
    position: relative;
    bottom: -0;
    margin-bottom: 0px;
    margin-top: 10px;
    background: rgba(103, 14, 14, 0.05);
}


.contact-form{
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}