.nav-bar{
    display: flex;
    flex-direction: row;
    justify-items: center;
    height: 3rem;
    padding-top: 1.2rem;
    padding-left: 1rem;
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
    background-image: linear-gradient(210deg, rgb(255, 255, 255), rgb(14, 14, 14));
}
#site-name{
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    color: white;
    color: black;
    letter-spacing: 2px;
}




