.nav-bar{
    width: 100%;
    height: 78px;
    display: flex;
    flex-shrink: 0;
    padding: 10px 0px 0px 0px ;
    justify-content: space-between;
    flex-direction: row-reverse;
    font-family: OFL Sorts Mill Goudy TT;
    background: rgba(103, 14, 14, 0.05);
}
#site-name{
    color: #914C4C;
    text-align: justify;
    font-family: OFL Sorts Mill Goudy TT;
    font-size: 40px;
    font-style: italic;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
}

.canbe{
    text-decoration: none;
    color: white;
    color: white;
    display: flex;
    flex-direction: row;
    font-family: OFL Sorts Mill Goudy TT;



    li{
        text-decoration: none;
        color: white;
        margin-right: 45px;
        transition: color 1sec ease-in-out;
        list-style: none;

    }

    a{
        text-decoration: none;
        color: white;
        margin-right: 45px;
        transition: color 1sec ease-in-out;

        
    &:hover{
            color: red;
        }
    }
}



