$primary-color: #914C4C;
$primary-font: 'Sorts Mill Goudy', serif;
$primary-background: rgba(103, 14, 14, 0.05);
#user-chat-box{
    position: fixed;
    right: 8%;
    padding: 0.6rem;
    top: 60%;
    height: 200px;
    display: flex;
    flex-direction: column;
    border: 1px solid $primary-color;
    border-radius: 5px;
    .header{
        display: flex;
        flex-direction: row-reverse;
    }
    #chat-form{
        position: relative;
        top: 25%;
    }
}

.other-msg{
    margin: 0;
    list-style: none;
    border: 1px solid grey;
    position: relative;
    left: -28%;
    width: 70%;
    color: black;
    margin-bottom: 3px;

}
.self-msg{
    position: relative;
    margin: 0;
    border: 1px solid grey;
    list-style: none;
    margin-bottom: 3px;
    color: black;
    left: 40%;
    width: 63%;
}
