@import 'utilities';
body{
    margin: 0;
    padding: 0;
}
$primary-color: #914C4C;
$primary-font: 'Sorts Mill Goudy', serif;
$primary-background: rgba(0, 0, 0, 0.05);
$chat-color:#d4c9c9;

.line{
    border-bottom: 2px solid $primary-background;
    width: 90%;
    display: block;
    height: 2px;
    justify-self: center;
    margin-top: 0.5rem;
}

.header{
    color: $primary-color;
    margin-top: 20px;
    margin-left: 1rem;
    padding-bottom: 0;
    img{
        height: 2rem;
        width: 2.2rem;
        position: relative;
        top: 10;
    }
}

.container{
    @include flexRow;
    padding: 0;
    height: 80vh;
}

.chats-container{
    height: 100%;
    width: 30%;
    border-right: 2px solid $primary-background;
    li{
        margin: 0;
        padding: 0.6rem;
        list-style: none;
        &:hover{
            background-color: lightpink;
        }
        div{
            display: flex;
            flex-direction: row;
            gap: 0.6rem;
            div{
                display: flex;
                flex-direction: column;
                div:nth-child(2){
                    font-size: smaller;
                    font-style: bolder;
                }
            }
        }
        img{
            height: 3rem;
            width: 3rem;
            display: block;
            border-radius: 50%;
        }
    }

}


.aside{
    margin-left: 1rem;
    padding: 1rem;
    font-family: $primary-font;
    color: $primary-color;
    li{
        color: black;
        list-style: none;
        margin-bottom: 0.5rem;
        a{
            @include aTag;
        }
    }
}

.hide{
    display: none;
}

.chats{
    height: 70%;
    width: 70%;
    background-color: $chat-color;
    li{
        margin: 0; 
        padding: 0;
        border-bottom: 3px solid $primary-background;
        list-style: none;
        h4{
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            img{
                height: 30px;
                width: 30px;
                position: relative;
                top: 10;
                margin-right: 0.8rem;
            }
        }

    

    }

}

.single-chat{
    padding: 1rem;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between; 
    overflow: scroll;
    .self{
        @include messageCon;
        margin-top: 1rem;
        margin-left: auto;

    }
    .other{
        @include messageCon;
        display: inline;
        margin-right: auto;

    }


    form{
        position: relative;
        bottom: -33;
        left: -1rem;
        input{
            width: 90%;
            height: 1.5rem;
            margin: 0;
            padding: 0.8rem;
            &:focus{
                outline: none;
            }
        }
        button{
            width: 9%;
            height: 1.8rem;
            position: relative;
            left: -3px;
        }
    }
}

