 @import url('https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy:ital@1&display=swap');
 $primary-color: #914C4C;
 $primary-font: 'Sorts Mill Goudy', serif;
 $primary-background: rgba(103, 14, 14, 0.05);
body{
    margin: 0px;
    padding: 0px;
    color: $primary-color;
    font-family: 'Sorts Mill Goudy', serif;
    &::-webkit-scrollbar {
      width: 4px; /* Set the width of the scrollbar */
    }
    
    &::-webkit-scrollbar-thumb {
      background-color: #888; /* Set the color of the thumb (draggable part) */
      border-radius: 3px; /* Round the corners of the thumb */
    }
    
    &::-webkit-scrollbar-track {
      background-color: #f1f1f1; /* Set the color of the track (non-draggable part) */
    }

}

.container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.new-feed{
    width: 100%;
    height: 100%;   
    padding-top: 8px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;



    &::-webkit-scrollbar {
        width: 4px; /* Set the width of the scrollbar */
      }
      
      &::-webkit-scrollbar-thumb {
        background-color: #888; /* Set the color of the thumb (draggable part) */
        border-radius: 3px; /* Round the corners of the thumb */
      }
      
      &::-webkit-scrollbar-track {
        background-color: #f1f1f1; /* Set the color of the track (non-draggable part) */
      }

      #content{
        padding: 10px;
        border: 0px;
        border-radius: 8px;
        &:focus{
            border: 0px;
            outline: 0px;
        }
      }
      .post-button{
        display: block;
        margin-top: 0.8rem;
        padding: 5px;
        border-radius: 4px;
        font-size: 1.1rem;
        border: 0;
        background-color: $primary-background;
        color: black;
        font-family: $primary-font;
        transition: background-color 0.2s ease-in-out;
        margin: 0px 0px 3px 4px;
        &:hover{
            background-color: #65291c;
            color:  white;
           
        }

      }

      li{
        list-style: none;
        display: block;
      }

      .posts{
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-right: 3px;

        textarea{
            padding: 10px;
            border: 0px;
            width: 8rem;
            background-color: rgb(255, 255, 255);
            min-height: 2rem;
            font-size: 0.7rem;
            font-family: $primary-font;

            overflow: hidden;
            &:focus{
                border: 0;
                outline: 0px;
            }
        }
        .post-card{
          padding-left: 10px;
          padding-top: 10px;
          margin-top: -15px;
          border: 2px solid  rgba(103, 14, 14, 0.05);;
          display: flex;
          flex-direction: column;
        }
        #user-name{
          position: relative;
          top: -10px;
        }
        #user-avatar{
          position: relative;
          top: 8px;
          margin-right: 10px;
          height: 45px;
          width: 45px;
          border-radius: 50%;
        }


      }
      #comment-button{
        font-size: 0.8rem;
        border-radius: 2px;
      }

    
}

#post-heading{
  // background-color: #3D3B8E;
  padding: 0.5rem 0px 0.8rem 0.3rem ; /* top right bottom left */
  color: $primary-color;
  font-size: 1.5rem;
  height: 1rem;
}


#like-logo{
  height: 20px;
  position: relative;
  top: 3%;
  width: 20px;
}
#like-logo-c{
  height: 14px;
  width: 14px;
}


.like-tag{
  text-decoration: none;
}
.hide{
  display: none;
}
.delete-post-btn{
    width: 2.6rem;
    padding: 2px;
    position: relative;
    left: 8rem;
    top: 0rem;
    background-color: $primary-background;
    border: 2px;
    border-radius: 3%;
    text-decoration: none;
    color: black;
    font-family: $primary-font;
    &:hover{
      background-color:   #c77c6b;
    }
}
.toggle-comments{
  color: black;
}


#chat-section{
  padding: 0.2rem;

  a{
    text-decoration: none;
    color: $primary-color;
    padding: 0;
    margin: 0;
  }
}
#chat-logo{
  height: 20x;
  width: 30px;
  position: relative;
  top: 10;
}

.single-comment{
  a{
    padding: 0;
    margin: 0;
  }
}
#post-form{
  background-color: $primary-background;
  font-family: $primary-font;
  width: 50%;
  margin-top: -14px;
  textarea{
    background-color: transparent;
    font-family: $primary-font;
    color: black;
    width: 80%;

  }
}


// responsive designs 





// side bar 
.side-bar{
  position: fixed;
  right: 5;
  top: 40%;
  display: flex;
  flex-direction: column;  
  align-items: center; /* Center items horizontally */
  justify-content: center;

  img{
    height: 3rem;
    width: 3rem;
  }

}

.info{
  height: 0;
  width: 0;
  overflow: hidden;
  background-color: lightpink;
  transition: width 0.5s, height 0.5s, opacity 0.5s;
}
.side-element{
  margin-bottom: 1rem;
}
.side-element:hover{
  img{
    transform: scale(1,1.1);

  }
  .info{
    height: auto;
    width: auto;
    position: absolute;
    border-radius: 0.2rem;
    right: 2ewm;
    padding: 0.2rem;
    font-size: smaller;

  }
}


@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}




.request-section{
  height: 0;
  width: 0;
  overflow: hidden;
  display: none;
  position: fixed;
  padding: 0.5rem;
  right: 10%;
  top: 50%;
  border-radius: 0.4rem;
  transition: width 0.2s, height 0.2s, opacity 0.3s;
  background-image: linear-gradient(9deg, rgb(216, 214, 252), white);
  font-family: inherit;
  animation: slideIn 0.3s ease-in-out;

  
  a{
    text-decoration: none;
  }

}

.single-request{
  margin-bottom: 0.4rem;
  a{
    color: black;
  }
}

.buttton-container{
  
  button{
    font-size: 0.7rem;
      a{
        text-decoration: none;
        color:black;
      }
  }
}




@media (max-width: 600px) {
  .post-card{
    font-size: 0.9rem;
  }
  .new-feed{
    font-size: 0.7rem;
    #user-avatar{
      height: 1.2rem;
      width: 1.2rem;
    }
  }
  #post-heading{
    font-size: 1rem;
  }
  .side-bar{
    img{
      height: 1.5rem;
      width: 1.5rem;
    }
  }
  .side-element{
    a{
      font-size: smaller;
    }
    .info{
      right: 10;
    }
    .request-section{
      right: 2rem;
    }
    img{
      height: 10%;
    }
  }

  #post-form{
    width: 80%;
  }

}