 @import url('https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy:ital@1&display=swap');
 $primary-color: #914C4C;
 $primary-font: 'Sorts Mill Goudy', serif;
 $primary-background: rgba(103, 14, 14, 0.05);
body{
    margin: 0px;
    padding: 0px;
    color: $primary-color;
    font-family: 'Sorts Mill Goudy', serif;

}

.container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.new-feed{
    width: 70%;
    height: 100%;   
    padding-top: 8px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;

    #post-form{
      background-color: $primary-background;
      font-family: $primary-font;
      width: 50%;
      margin-top: -14px;
      
      textarea{
        background-color: transparent;
        font-family: $primary-font;
        color: black;

      }
    }

    &::-webkit-scrollbar {
        width: 4px; /* Set the width of the scrollbar */
      }
      
      &::-webkit-scrollbar-thumb {
        background-color: #888; /* Set the color of the thumb (draggable part) */
        border-radius: 3px; /* Round the corners of the thumb */
      }
      
      &::-webkit-scrollbar-track {
        background-color: #f1f1f1; /* Set the color of the track (non-draggable part) */
      }

      #content{
        padding: 10px;
        border: 0px;
        border-radius: 8px;
        &:focus{
            border: 0px;
            outline: 0px;
        }
      }
      .post-button{
        display: block;
        margin-top: 0.8rem;
        padding: 5px;
        border-radius: 4px;
        font-size: 1.1rem;
        border: 0;
        background-color: $primary-background;
        color: black;
        font-family: $primary-font;
        transition: background-color 0.2s ease-in-out;
        margin: 0px 0px 3px 4px;
        &:hover{
            background-color: #65291c;
            color:  white;
           
        }

      }

      li{
        list-style: none;
        display: block;
      }

      .posts{
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-right: 3px;

        textarea{
            padding: 10px;
            border: 0px;
            width: 8rem;
            background-color: rgb(255, 255, 255);
            min-height: 2rem;
            font-size: 0.7rem;
            font-family: $primary-font;

            overflow: hidden;
            &:focus{
                border: 0;
                outline: 0px;
            }
        }
        .post-card{
          padding-left: 10px;
          padding-top: 10px;
          margin-top: -15px;
          border: 2px solid  rgba(103, 14, 14, 0.05);;
          display: flex;
          flex-direction: column;
        }
        #user-name{
          position: relative;
          top: -10px;
        }
        #user-avatar{
          position: relative;
          top: 8px;
          margin-right: 10px;
          height: 45px;
          width: 45px;
          border-radius: 50%;
        }
        button{
          padding: 6px;
          margin: 0;
          position: relative;
          background-color: $primary-background;
          border: 1px;
          left: 74%;
          border-radius: 3%;
          a{
            text-decoration: none;
            color: black;
            font-family: $primary-font;
            background-color: transparent;

          }
          &:hover{
            background-color:   #c77c6b;
          }



        }


      }
      #comment-button{
        font-size: 0.8rem;
        border-radius: 2px;
      }

    
}

#post-heading{
  // background-color: #3D3B8E;
  padding: 0.5rem 0px 0.8rem 0.3rem ; /* top right bottom left */
  color: $primary-color;
  font-size: 1.5rem;
  height: 1rem;
}

.side-bar{
    width: 25%;
    display: flex;
    flex-direction: column;
    h3{
      padding: 5px;

    }
    a{
      text-decoration: none;
      color: $primary-color;
    }
    p{
      margin-left: 8px;
    }
}
#like-logo{
  height: 20px;
  position: relative;
  top: 3%;
  width: 20px;
}
#like-logo-c{
  height: 14px;
  width: 14px;
}
.like-tag{
  text-decoration: none;
}
.hide{
  display: none;
}
.delete-post-btn{
  position: relative;
  right: 20px;
}
.toggle-comments{
  color: black;
}