body{
    margin: 0;
    padding: 0;

}


.main-class{
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 3.5rem;
    flex-wrap: nowrap;
    height: 100%;
    width: auto;
}

.container{
    width: 50%;    
    color: pink;
    display: flex;
    flex-wrap: wrap;   
    justify-content: center; 
    align-items: center;
}


#my-form{
    padding: 1.5rem;
    width: 80%;
    border-radius: 25px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
    color: black;
    font-weight: 400;
    background-image: linear-gradient(9deg, rgb(216, 214, 252), white);
}
#my-form label{
    color: black;
    font-weight: 10000;
}

.input-field{
    display: block;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 100%;
    height: 2rem;
    border: 0px;
    padding-left: 15px;
    padding-top: 5px;
    border-radius: 4px; 
}
.input-field:focus{
    outline: none;
}
.button-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.form-buttons{
    outline: none;
    text-decoration: none;
    width: 40%;
    border-radius: 5px;
    border: 0px;
    padding: 0.5rem;
    color: black;
    background-color: white;
    text-align: center;
    transition: transform 0.2 ease-in-out;
}
.form-buttons:hover{
    transform: scale(1.1);
    background-color: rgb(206, 226, 247);

}

/* responsive  */
@media (max-width: 600px) {
    body{
        font-size: small;
    }
    .main-class{
        align-items: baseline;
        padding: 0;
    }
    .container{
        margin-top: 4rem;
        width: 100vw;
        height: auto;
        gap:38px;
        flex-wrap: wrap;
        font-size: smaller;
        align-items: baseline;
    }
    #my-form{
        width: 100%;
    }
    .input-field{
        height: 1.6rem;
        font-size: smaller;

    }
    .button-container{

        height: auto;
        button{
        font-size: smaller;

        }
    }

}

