body{
    &::-webkit-scrollbar {
        width: 4px; /* Set the width of the scrollbar */
      }
      
      &::-webkit-scrollbar-thumb {
        background-color: #888; /* Set the color of the thumb (draggable part) */
        border-radius: 3px; /* Round the corners of the thumb */
      }
      
      &::-webkit-scrollbar-track {
        background-color: #f1f1f1; /* Set the color of the track (non-draggable part) */
      }
}


@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}


$primary-color: #e79a9a;
$primary-font: 'Sorts Mill Goudy', serif;

#notification{
  padding: 0.6rem;
  // color: rgb(89, 83, 83);
  color: white;
  font-family: $primary-font;
  background-color: $primary-color;
  display: inline-block;
  border-radius: 0.2rem;
  animation: slideIn 0.3s ease-in-out;
  transition: opacity 0.5s ease-out;
  position: fixed;
  margin-left: 2rem;
  margin-top: 1rem;
  top: 13%;
}

@media (max-width:750) {
  #notification{
      font: smaller;
  }
  
}