@import 'utilities';
body{
    margin: 0;
    padding: 0;
}
$primary-color: #c66a6a;
$primary-font: 'Sorts Mill Goudy', serif;

.container{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0px;
}
.section-1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 3rem;
    gap: 1.5rem;
    div{
        align-self: center;
    }
    & div:nth-child(2) {
        text-align: center;
    }
    img{
        display: block
    }
    button{
        @include aButton;
    }
    #user-avatar{
        height: 7rem;
        width: 7rem;
        border-radius: 50%;
    }

}






.inner-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    flex: 1 0 0;
    input{
        border-radius: 6px;
        width: 100%;
        display: block;
        margin-bottom: 1.4rem;
        height: 1.8rem;
        border: 2px solid rgba(0, 0, 0, 0.10);
        background: #FFF;
        &:focus{
            outline: none;
          
        }
    }
    form{
        width: 50%;
    }
}
#submit-btn{
    text-align: center;
}
#submit-btn:hover{
    background-color: $primary-color;
    opacity: 0.8;
    color: black;
}

@media (max-width: 600px){
    .section-1{
        flex-direction: column;
        img{
            align-self: center;
        }

    }
    .inner-section{
        form{
            width: 80%;
        }
    }
    .input-section{
        font-size: smaller;
        input{
            font-size: smaller;
        }
    }
}