.footer {
  width: 100%;
  height: 3rem;
  background-image: linear-gradient(290deg, #9c9cdc, #c4c4c6);
  margin-bottom: 0px; }

.contact-form {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around; }
