@import url("https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy:ital@1&display=swap");
.nav-bar {
  width: 100%;
  height: 60px;
  display: flex;
  flex-shrink: 0;
  padding: 10px 0px 0px 0px;
  justify-content: space-between;
  flex-direction: row-reverse;
  font-family: 'Sorts Mill Goudy', serif;
  color: #914C4C;
  background: rgba(103, 14, 14, 0.05); }

#site-name {
  color: #914C4C;
  text-align: justify;
  font-size: 40px;
  font-style: italic;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize; }

.canbe {
  text-decoration: none;
  display: flex;
  margin-left: 0.5rem;
  flex-shrink: 1;
  margin-top: 1rem;
  flex-direction: row; }
  .canbe a img {
    height: 3rem;
    width: 3rem;
    position: relative;
    top: -1rem;
    left: 0rem;
    border-radius: 50%; }
  .canbe li {
    text-decoration: none;
    margin-right: 1rem;
    list-style: none; }
  .canbe a {
    text-decoration: none;
    margin-left: 15px;
    color: #914C4C; }
    .canbe a:hover {
      color: #5a1313; }

#dont-know {
  position: relative;
  top: -2rem; }

@media (max-width: 600px) {
  #dont-know {
    top: -0.8rem; }
  .nav-bar {
    font-size: smaller;
    flex-shrink: 1; }
    .nav-bar a img {
      height: 1.5rem;
      width: 1.5rem;
      top: -0.3rem;
      left: 0; }
  .canbe {
    font-size: 0.6rem; }
  #site-name {
    position: relative;
    top: 0.4rem;
    font-size: 1.2rem; } }
