.nav-bar {
  display: flex;
  flex-direction: row;
  justify-items: center;
  height: 3rem;
  padding-top: 1.2rem;
  padding-left: 1rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  gap: 20px;
  background-image: linear-gradient(210deg, white, #0e0e0e); }

#site-name {
  font-size: x-large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
  color: white;
  color: black;
  letter-spacing: 2px; }

.canbe {
  text-decoration: none;
  color: white;
  color: white;
  display: flex;
  flex-direction: row;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }
  .canbe li {
    text-decoration: none;
    color: white;
    margin-right: 45px;
    transition: color 1sec ease-in-out;
    list-style: none; }
  .canbe a {
    text-decoration: none;
    color: white;
    margin-right: 45px;
    transition: color 1sec ease-in-out; }
    .canbe a:hover {
      color: red; }
