/* header.scss */
@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Montserrat:ital,wght@0,100;0,200;1,100&family=Raleway:wght@300&display=swap");
:root {
  --font-family1: 'Major Mono Display', monospace;
  --font-family2: 'Montserrat', sans-serif;
  --font-family3: 'Raleway', sans-serif;
  --first-color: #e7eaf6;
  --second-color: #a2a8d3;
  --third-color: #38598b;
  --fourth-color: #113f67;
  --primary-color: #914C4C; }

.nav-bar {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font-family3);
  background-color: var(--fourth-color);
  padding: 10px 20px;
  box-sizing: border-box; }
  .nav-bar #site-name {
    font-family: 'Major Mono Display', monospace;
    font-size: 28px;
    font-style: italic;
    font-weight: 500;
    color: white;
    text-transform: capitalize; }
  .nav-bar .canbe {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 0.5rem; }
    .nav-bar .canbe a {
      text-decoration: none;
      color: white; }
      .nav-bar .canbe a img {
        height: 2rem;
        width: 2rem;
        border-radius: 50%;
        margin-top: 0rem; }
      .nav-bar .canbe a:hover {
        color: var(--second-color); }
    .nav-bar .canbe li {
      margin-right: 1rem;
      list-style: none; }
    .nav-bar .canbe #dont-know {
      position: relative;
      top: -0.5rem; }
  @media (max-width: 600px) {
    .nav-bar {
      flex-direction: column;
      height: auto; }
      .nav-bar #site-name {
        font-size: 24px;
        margin-bottom: 10px;
        /* Added margin for spacing */ }
      .nav-bar .canbe {
        margin-top: 0.5rem;
        font-size: 0.8rem; }
        .nav-bar .canbe a img {
          height: 2rem;
          width: 2rem;
          margin-top: -0.2rem; } }
