@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Montserrat:ital,wght@0,100;0,200;1,100&family=Raleway:wght@300&display=swap");
body {
  margin: 0;
  padding: 0; }

/* Common variables */
:root {
  --primary-color: #914C4C;
  --primary-background: rgba(0, 0, 0, 0.05);
  --chat-color: #d4c9c9;
  --first-color: #e7eaf6;
  --second-color: #a2a8d3;
  --third-color: #38598b;
  --fourth-color: #113f67; }

/* Reset styles */
body {
  margin: 0;
  padding: 0; }

/* Chat header */
.header {
  margin-top: 20px;
  margin-left: 1rem;
  padding-bottom: 0;
  font-family: 'Merriweather', serif;
  color: black; }

.header img {
  height: 2rem;
  width: 2.2rem;
  position: relative;
  top: 10; }

.line {
  border-bottom: 2px solid var(--primary-background);
  width: 90%;
  display: block;
  height: 2px;
  justify-self: center;
  margin-top: 0.5rem; }

/* Main container */
.container {
  display: flex;
  padding: 0;
  height: 80vh; }

/* Chats container */
.chats-container {
  height: 100%;
  width: 300px;
  border-right: 2px solid var(--primary-background); }

.chats-container li {
  margin: 0;
  padding: 0.6rem;
  list-style: none; }

.chats-container li:hover {
  background-color: var(--first-color); }

/* Styling the chat messages */
.single-chat {
  padding: 1rem;
  display: flex;
  height: 70%;
  flex-direction: column;
  background-color: var(--third-color);
  overflow-y: scroll; }

.single-chat .self {
  margin-bottom: 0.3rem;
  background-color: var(--second-color);
  margin-left: auto; }

.single-chat .other {
  max-width: fit-content;
  display: inline;
  margin-right: auto;
  margin-bottom: 0.3rem;
  background-color: var(--second-color); }

/* New chat section */
.new-chat {
  display: inline-block;
  font-family: 'Merriweather', serif;
  transform: scale(0.8); }

.new-chat div {
  transition: max-height 0.3s ease-in-out;
  overflow: hidden;
  margin-top: 1.5rem;
  font-size: 1.2rem;
  width: fit-content;
  border-radius: 0.5rem;
  background-color: var(--second-color);
  position: absolute; }

.new-chat div li {
  list-style: none;
  width: fit-content;
  margin-bottom: 0.5rem; }

/* Hide elements */
.hide {
  display: none; }

/* Responsive adjustments */
@media (max-width: 768px) {
  .container {
    flex-direction: column; }
  .chats-container {
    width: 100%;
    border-right: none; } }
