body {
  margin: 0;
  padding: 0; }

.line {
  border-bottom: 2px solid rgba(0, 0, 0, 0.05);
  width: 90%;
  display: block;
  height: 2px;
  justify-self: center;
  margin-top: 0.5rem; }

.header {
  color: #914C4C;
  margin-top: 20px;
  margin-left: 1rem;
  padding-bottom: 0; }
  .header img {
    height: 2rem;
    width: 2.2rem;
    position: relative;
    top: 10; }

.container {
  display: flex;
  flex-direction: row;
  padding: 0.7rem;
  padding: 0;
  height: 80vh; }

.chats-container {
  height: 100%;
  width: 30%;
  border-right: 2px solid rgba(0, 0, 0, 0.05); }
  .chats-container li {
    margin: 0;
    padding: 0.6rem;
    list-style: none; }
    .chats-container li:hover {
      background-color: lightpink; }
    .chats-container li div {
      display: flex;
      flex-direction: row;
      gap: 0.6rem; }
      .chats-container li div div {
        display: flex;
        flex-direction: column; }
        .chats-container li div div div:nth-child(2) {
          font-size: smaller;
          font-style: bolder; }
    .chats-container li img {
      height: 3rem;
      width: 3rem;
      display: block;
      border-radius: 50%; }

.aside {
  margin-left: 1rem;
  padding: 1rem;
  font-family: "Sorts Mill Goudy", serif;
  color: #914C4C; }
  .aside li {
    color: black;
    list-style: none;
    margin-bottom: 0.5rem; }
    .aside li a {
      text-decoration: none;
      color: black; }

.hide {
  display: none; }

.chats {
  height: 70%;
  width: 70%;
  background-color: #d4c9c9; }
  .chats li {
    margin: 0;
    padding: 0;
    border-bottom: 3px solid rgba(0, 0, 0, 0.05);
    list-style: none; }
    .chats li h4 {
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }
      .chats li h4 img {
        height: 30px;
        width: 30px;
        position: relative;
        top: 10;
        margin-right: 0.8rem; }

.single-chat {
  padding: 1rem;
  display: flex;
  height: 70%;
  flex-direction: column;
  justify-content: space-between; }
  .single-chat .self {
    padding: 0.4rem;
    background-color: grey;
    display: inline-block;
    max-width: 30%;
    border-radius: 4px;
    margin-top: 1rem;
    margin-left: auto; }
  .single-chat .other {
    padding: 0.4rem;
    background-color: grey;
    display: inline-block;
    max-width: 30%;
    border-radius: 4px;
    display: inline;
    margin-right: auto; }
  .single-chat form {
    position: relative;
    bottom: -33;
    left: -1rem; }
    .single-chat form input {
      width: 90%;
      height: 1.5rem;
      margin: 0;
      padding: 0.8rem; }
      .single-chat form input:focus {
        outline: none; }
    .single-chat form button {
      width: 9%;
      height: 1.8rem;
      position: relative;
      left: -3px; }
