@import url("https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy:ital@1&display=swap");
body {
  margin: 0px;
  padding: 0px;
  color: #914C4C;
  font-family: 'Sorts Mill Goudy', serif; }
  body::-webkit-scrollbar {
    width: 4px;
    /* Set the width of the scrollbar */ }
  body::-webkit-scrollbar-thumb {
    background-color: #888;
    /* Set the color of the thumb (draggable part) */
    border-radius: 3px;
    /* Round the corners of the thumb */ }
  body::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    /* Set the color of the track (non-draggable part) */ }

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%; }

.new-feed {
  width: 100%;
  height: 100%;
  padding-top: 8px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll; }
  .new-feed::-webkit-scrollbar {
    width: 4px;
    /* Set the width of the scrollbar */ }
  .new-feed::-webkit-scrollbar-thumb {
    background-color: #888;
    /* Set the color of the thumb (draggable part) */
    border-radius: 3px;
    /* Round the corners of the thumb */ }
  .new-feed::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    /* Set the color of the track (non-draggable part) */ }
  .new-feed #content {
    padding: 10px;
    border: 0px;
    border-radius: 8px; }
    .new-feed #content:focus {
      border: 0px;
      outline: 0px; }
  .new-feed .post-button {
    display: block;
    margin-top: 0.8rem;
    padding: 5px;
    border-radius: 4px;
    font-size: 1.1rem;
    border: 0;
    background-color: rgba(103, 14, 14, 0.05);
    color: black;
    font-family: "Sorts Mill Goudy", serif;
    transition: background-color 0.2s ease-in-out;
    margin: 0px 0px 3px 4px; }
    .new-feed .post-button:hover {
      background-color: #65291c;
      color: white; }
  .new-feed li {
    list-style: none;
    display: block; }
  .new-feed .posts {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-right: 3px; }
    .new-feed .posts textarea {
      padding: 10px;
      border: 0px;
      width: 8rem;
      background-color: white;
      min-height: 2rem;
      font-size: 0.7rem;
      font-family: "Sorts Mill Goudy", serif;
      overflow: hidden; }
      .new-feed .posts textarea:focus {
        border: 0;
        outline: 0px; }
    .new-feed .posts .post-card {
      padding-left: 10px;
      padding-top: 10px;
      margin-top: -15px;
      border: 2px solid rgba(103, 14, 14, 0.05);
      display: flex;
      flex-direction: column; }
    .new-feed .posts #user-name {
      position: relative;
      top: -10px; }
    .new-feed .posts #user-avatar {
      position: relative;
      top: 8px;
      margin-right: 10px;
      height: 45px;
      width: 45px;
      border-radius: 50%; }
  .new-feed #comment-button {
    font-size: 0.8rem;
    border-radius: 2px; }

#post-heading {
  padding: 0.5rem 0px 0.8rem 0.3rem;
  /* top right bottom left */
  color: #914C4C;
  font-size: 1.5rem;
  height: 1rem; }

#like-logo {
  height: 20px;
  position: relative;
  top: 3%;
  width: 20px; }

#like-logo-c {
  height: 14px;
  width: 14px; }

.like-tag {
  text-decoration: none; }

.hide {
  display: none; }

.delete-post-btn {
  width: 2.6rem;
  padding: 2px;
  position: relative;
  left: 8rem;
  top: -2rem;
  background-color: rgba(103, 14, 14, 0.05);
  border: 2px;
  border-radius: 3%;
  text-decoration: none;
  color: black;
  font-family: "Sorts Mill Goudy", serif; }
  .delete-post-btn:hover {
    background-color: #c77c6b; }

.toggle-comments {
  color: black; }

#chat-section {
  padding: 0.2rem; }
  #chat-section a {
    text-decoration: none;
    color: #914C4C;
    padding: 0;
    margin: 0; }

#chat-logo {
  height: 20x;
  width: 30px;
  position: relative;
  top: 10; }

.single-comment a {
  padding: 0;
  margin: 0; }

#post-form {
  background-color: rgba(103, 14, 14, 0.05);
  font-family: "Sorts Mill Goudy", serif;
  width: 50%;
  margin-top: -14px; }
  #post-form textarea {
    background-color: transparent;
    font-family: "Sorts Mill Goudy", serif;
    color: black;
    width: 80%; }

.side-bar {
  position: fixed;
  right: 5;
  top: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Center items horizontally */
  justify-content: center; }
  .side-bar img {
    height: 3rem;
    width: 3rem; }

.info {
  height: 0;
  width: 0;
  overflow: hidden;
  background-color: lightpink;
  transition: width 0.5s, height 0.5s, opacity 0.5s; }

.side-element {
  margin-bottom: 1rem; }

.side-element:hover img {
  transform: scale(1, 1.1); }

.side-element:hover .info {
  height: auto;
  width: auto;
  position: absolute;
  border-radius: 0.2rem;
  right: 2ewm;
  padding: 0.2rem;
  font-size: smaller; }

.request-section {
  height: 0;
  width: 0;
  overflow: hidden;
  display: none;
  position: fixed;
  padding: 0.5rem;
  right: 10%;
  top: 50%;
  border-radius: 0.4rem;
  transition: width 0.2s, height 0.2s, opacity 0.3s;
  background-image: linear-gradient(9deg, #d8d6fc, white);
  font-family: inherit; }
  .request-section a {
    text-decoration: none; }

.single-request {
  margin-bottom: 0.4rem; }
  .single-request a {
    color: black; }

.buttton-container button {
  font-size: 0.7rem; }
  .buttton-container button a {
    text-decoration: none;
    color: black; }

@media (max-width: 600px) {
  .post-card {
    font-size: 0.9rem; }
  .new-feed {
    font-size: 0.7rem; }
    .new-feed #user-avatar {
      height: 1.2rem;
      width: 1.2rem; }
  #post-heading {
    font-size: 1rem; }
  .side-bar img {
    height: 1.5rem;
    width: 1.5rem; }
  .side-element a {
    font-size: smaller; }
  .side-element .info {
    right: 10; }
  .side-element .request-section {
    right: 2rem; }
  .side-element img {
    height: 10%; }
  #post-form {
    width: 80%; } }
