@import url("https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy:ital@1&display=swap");
body {
  margin: 0px;
  padding: 0px;
  color: #914C4C;
  font-family: 'Sorts Mill Goudy', serif; }

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%; }

.new-feed {
  width: 70%;
  height: 100%;
  padding-top: 8px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll; }
  .new-feed #post-form {
    background-color: rgba(103, 14, 14, 0.05);
    font-family: "Sorts Mill Goudy", serif;
    width: 50%;
    margin-top: -14px; }
    .new-feed #post-form textarea {
      background-color: transparent;
      font-family: "Sorts Mill Goudy", serif;
      color: black; }
  .new-feed::-webkit-scrollbar {
    width: 4px;
    /* Set the width of the scrollbar */ }
  .new-feed::-webkit-scrollbar-thumb {
    background-color: #888;
    /* Set the color of the thumb (draggable part) */
    border-radius: 3px;
    /* Round the corners of the thumb */ }
  .new-feed::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    /* Set the color of the track (non-draggable part) */ }
  .new-feed #content {
    padding: 10px;
    border: 0px;
    border-radius: 8px; }
    .new-feed #content:focus {
      border: 0px;
      outline: 0px; }
  .new-feed .post-button {
    display: block;
    margin-top: 0.8rem;
    padding: 5px;
    border-radius: 4px;
    font-size: 1.1rem;
    border: 0;
    background-color: rgba(103, 14, 14, 0.05);
    color: black;
    font-family: "Sorts Mill Goudy", serif;
    transition: background-color 0.2s ease-in-out;
    margin: 0px 0px 3px 4px; }
    .new-feed .post-button:hover {
      background-color: #65291c;
      color: white; }
  .new-feed li {
    list-style: none;
    display: block; }
  .new-feed .posts {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-right: 3px; }
    .new-feed .posts textarea {
      padding: 10px;
      border: 0px;
      width: 8rem;
      background-color: white;
      min-height: 2rem;
      font-size: 0.7rem;
      font-family: "Sorts Mill Goudy", serif;
      overflow: hidden; }
      .new-feed .posts textarea:focus {
        border: 0;
        outline: 0px; }
    .new-feed .posts .post-card {
      padding-left: 10px;
      padding-top: 10px;
      margin-top: -15px;
      border: 2px solid rgba(103, 14, 14, 0.05);
      display: flex;
      flex-direction: column; }
    .new-feed .posts #user-name {
      position: relative;
      top: -10px; }
    .new-feed .posts #user-avatar {
      position: relative;
      top: 8px;
      margin-right: 10px;
      height: 45px;
      width: 45px;
      border-radius: 50%; }
    .new-feed .posts button {
      padding: 6px;
      margin: 0;
      position: relative;
      background-color: rgba(103, 14, 14, 0.05);
      border: 1px;
      left: 74%;
      border-radius: 3%; }
      .new-feed .posts button a {
        text-decoration: none;
        color: black;
        font-family: "Sorts Mill Goudy", serif;
        background-color: transparent; }
      .new-feed .posts button:hover {
        background-color: #c77c6b; }
  .new-feed #comment-button {
    font-size: 0.8rem;
    border-radius: 2px; }

#post-heading {
  padding: 0.5rem 0px 0.8rem 0.3rem;
  /* top right bottom left */
  color: #914C4C;
  font-size: 1.5rem;
  height: 1rem; }

.side-bar {
  width: 25%;
  display: flex;
  flex-direction: column; }
  .side-bar h3 {
    padding: 5px; }
  .side-bar a {
    text-decoration: none;
    color: #914C4C; }
  .side-bar p {
    margin-left: 8px; }

#like-logo {
  height: 20px;
  position: relative;
  top: 3%;
  width: 20px; }

.like-tag {
  text-decoration: none; }

.hide {
  display: none; }

.delete-post-btn {
  position: relative;
  right: 20px; }
