@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Montserrat:ital,wght@0,100;0,200;1,100&family=Raleway:wght@300&display=swap");
body {
  margin: 0;
  padding: 0; }

:root {
  --font-family1: 'Major Mono Display', monospace;
  --font-family2: 'Montserrat', sans-serif;
  --font-family3: 'Raleway', sans-serif;
  --font-Meri: 'Merriweather', 'serif';
  --first-color: #e7eaf6;
  --second-color: #a2a8d3;
  --third-color: #38598b;
  --fourth-color: #113f67; }

.main-class2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  flex-wrap: nowrap;
  height: 70%;
  width: auto;
  font-family: var(--font-Meri); }

.container2 {
  height: 100%;
  width: 600px;
  display: flex;
  flex-direction: row; }

.lower {
  background-color: var(--third-color);
  height: 70%;
  width: 60%;
  border-radius: 3rem;
  z-index: 1;
  background-color: red;
  opacity: 0.7; }

.upper {
  background-color: var(--third-color);
  width: 90%;
  height: 100%;
  z-index: 6;
  position: relative;
  left: -30%;
  top: 10%;
  border-radius: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-family: var(--font-family3); }

#form {
  width: 80%;
  padding: 10px;
  display: flex;
  text-align: left;
  gap: 0.5rem;
  flex-direction: column;
  font-family: var(--font-family3); }
  #form input {
    display: block;
    padding: 7px;
    border: 0;
    transition: border 0.3s ease;
    border-radius: 0.3rem;
    font-family: var(--font-family3); }
    #form input:focus {
      outline: none;
      border: 0;
      border-bottom: 3px solid red; }

.form-heading {
  font-size: 1.5rem; }

.button-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 8px; }

.button-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .button-row button {
    padding: 0;
    width: 49%;
    color: var(--fourth-color);
    border: 0;
    background-color: white;
    font-family: var(--font-family3);
    transition: background-color 0.2s ease; }
    .button-row button:hover {
      background-color: var(--second-color);
      color: black; }

.form-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 49%;
  text-decoration: none;
  text-align: center;
  color: var(--fourth-color);
  border: 0;
  background-color: white;
  font-family: var(--font-family3);
  transition: background-color 0.2s ease; }
  .form-btns:hover {
    background-color: var(--second-color);
    color: black; }

@media (max-width: 623px) {
  .main-class2 {
    padding: 1rem !important; }
  .container2 {
    width: 100%; } }

@media (max-width: 530px) {
  .form-heading {
    font-size: 1rem; }
  .main-class2 {
    padding: 10px !important;
    padding-top: 1rem;
    height: 100%; }
  .container2 {
    width: 100%;
    display: block;
    margin-top: 2rem; }
    .container2 .upper {
      position: absolute;
      left: 0;
      height: 60%;
      padding: 0.2rem;
      margin-top: 1rem;
      left: 5%;
      top: 12%;
      padding-top: 1rem; }
    .container2 .lower {
      width: 100%; }
  #form {
    width: 90%; }
    #form label {
      font-size: 0.9rem; }
  .button-row {
    font-size: 0.7rem; }
    .button-row button {
      height: 30px; }
    .button-row .form-btns {
      height: 30px; } }
